<div class="container">
	<div class="row mt-5">
		<div class="col-md-7" id="default-banner"> 
		
			<h3>m-Facebook helps you connect and share with the people in your life.</h3>
			<%= image_tag "fb-landing-image.png", class: "mt-2" %> 
			</div>
		<div class="col-md-5 user-signup-main"> <%= render "signup_form" %> </div>
	</div>
</div>