<div class="container">
	<div class="row">
		<div class="col-md-12 p-0">
				<div class="timeline-banner-section">
					<div class="cover-image">
						<div class="user-timeline-photo"> <%= gravatar_for(user, size: 175) %>	</div>
						<div class="photo-name"> <span><%= user.fullname %> </span> 
							<span class="float-right"><%= show_banner_call_to_action_for user %></span>	
						</div>
					</div>
					<div class="timeline-menu">
						<ul>
							<li class="border-right border-left">Timeline</li>
							<li class="border-right">About</li>
							<li class="border-right">Friends <span><%= count_friends_for user %></span></li>
							<li class="border-right">About</li>
						</ul>
					</div>
				</div>
		</div>
	</div>
</div>