<div class="container mt-3">
	<div class="row">
		<div class="col-9 ml-auto mr-auto">
			<div class="card my-3">
					<div class="card-header py-1"> <h5> Find Friends </h5></div>
					<div class="card-body mx-2 p-1">
						<%= render @users, cached: true %>
					</div>
				</div>
		</div>
	</div>
</div>