<div class="container default-user-login">
	<div class="row mt-5">
		<div class="col-md-7 ml-auto mr-auto">
			<div class="card">
				<div class="card-body">
					<div class="col-md-8 ml-auto mr-auto">
						<%= render "login_form" %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>