<footer class="mt-3">
	<ul class="text text-muted p-0">
		<li>Privacy - </li>
		<li>Terms - </li>
		<li>Advertising - </li> <br>
		<li>Advertising - </li>
		<li>Cookies</li>
	</ul>
	<span class="copyright">m-Facebook &copy;<%= Date.today.year %></span>
</footer>