<nav class="navbar sticky-top navbar-expand-sm">
	<div class=" container collapse navbar-collapse" id="navbarSupportedContent">
	<a class="navbar-brand" href="/">m-Facebook</a>
    <ul class="navbar-nav ml-auto pl-0">
				<%= render visible_top_menu  %>
    </ul>
  </div>
</nav>
