<div class="shortcut-right">
		<div class="card p-2">
			<h7> Friend Requests </h7>
			<div class="featured-friend-requests">
				 Featured friend requests will appear here in Milestone 5 
			</div>
		</div>
		<div class="card mt-3 p-2">
			<h7> Sponsored  </h7>
			<div class="ads">
				 Sponsored Ads will appear here 
			</div>
		</div>
		<div class="card mt-3 p-2">
			<span class="lang text text-muted"> English (US)
		</div>
		
		<%= render 'footer' %>
</div>
